$breakpoints: (
  // small mobile
  sm: 320px,
  // mobile
  md: 480px,
  // tablet
  lg: 768px,
  // desktop
  xl: 1280px
);

// Makes the @content apply to the given breakpoint and wider.
@mixin breakpoint-from($name) {
  $min: get-breakpoint-value($name);

  @if $min {
    @media (min-width: $min) {
      @content;
    }
  } @else {
    @content;
  }
}

// Makes the @content apply to the given breakpoint and narrower.
@mixin breakpoint-to($name) {
  $max: get-breakpoint-value($name) - 1;

  @if $max {
    @media (max-width: $max) {
      @content;
    }
  } @else {
    @content;
  }
}

// Makes the @content apply to the between the given breakpoints
@mixin breakpoint-between($minName, $maxName) {
  $min: get-breakpoint-value($minName);
  $max: get-breakpoint-value($maxName) - 0.01;

  @if $min {
    @media (min-width: $min) and (max-width: $max) {
      @content;
    }
  } @else {
    @media (max-width: $max) {
      @content;
    }
  }
}

// Value of the given breakpoint name
@function get-breakpoint-value($name) {
  $min: map-get($breakpoints, $name);
  @return if($min != 0, $min, null);
}

// -----------------------
