// typography
$font-family: 'Roboto', sans-serif;

// breakpoints
$breakpoints: (
  mq1: 320px,
  mq2: 480px,
  mq3: 768px,
  mq4: 1024px,
  mq5: 1280px,
  mq6: 1440px,
);

// responsive variables
:root {
  --wrapper-padding: 24px;

  @media (min-width: map-get($breakpoints, 'mq3')) {
    --wrapper-padding: 32px;
  }
}
