// typography
$font-family: 'Roboto', sans-serif;
$font-weight-bold: 700;
$font-weight-semi-bold: 500;
$font-weight-regular: 400;
$font-weight-light: 300;
$font-weight-thin: 100;

// colors
$black: #000;
$white: #fff;
$light-grey: #e7e8e8;
$medium-grey: #a1a2a4;
$deep-grey: #14171b;
$border-grey: #bdbdbd;
$blue: #18a8bb;

$error-color: #d92121;
$error-bg: #ffe7e7;

// animations
$transition-duration: 200ms;
