* {
  box-sizing: border-box;
}

body {
  font-family: $font-family;
}

// wrappers
.wrapper {
  width: 100%;
  margin: 0 auto;
  padding: 0 var(--wrapper-padding);

  &[size='m'] {
    max-width: calc(1214px + 2 * var(--wrapper-padding));
  }

  &[size='s'] {
    max-width: calc(990px + 2 * var(--wrapper-padding));
  }

  &[size='xs'] {
    max-width: calc(590px + 2 * var(--wrapper-padding));
  }
}
