* {
  box-sizing: border-box;
}

body {
  font-family: $font-family;
  color: $white;
  white-space: pre-line;
  background-color: $black;

  @include mq-mobile-tablet {
    padding-bottom: 60px;
  }
}

h1,
h2,
h3 {
  margin: 0;
  font-weight: $font-weight-semi-bold;
  line-height: 1;
  letter-spacing: 1px;
}

h1 {
  @include breakpoint-to('d') {
    font-size: 60px;
  }

  @include breakpoint-from('d') {
    font-size: 96px;
    letter-spacing: 2px;
  }
}

h2 {
  @include breakpoint-to('t') {
    font-size: 40px;
  }

  @include breakpoint-between('t', 'd') {
    font-size: 54px;
  }

  @include breakpoint-from('d') {
    font-size: 60px;
  }
}

h3 {
  @include mq-mobile {
    font-size: 24px;
  }

  @include mq-tablet {
    font-size: 32px;
  }

  @include mq-desktop {
    font-size: 40px;
  }
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

p {
  margin: 0;
}

.icon {
  font-size: 24px;
}

.button {
  display: inline-block;
  min-height: 48px;
  padding: 10px 32px;
  font-size: 20px;
  font-weight: $font-weight-semi-bold;
  line-height: 1.2;
  text-decoration: none;
  cursor: pointer;
  border-style: solid;
  border-width: 1px;
  border-radius: 35px;

  &--primary {
    color: $white;
    background-color: $blue;
    border-color: $blue;
  }

  &--secondary {
    color: $black;
    background-color: $white;
    border-color: $white;
  }

  &--tertiary {
    color: $white;
    background-color: transparent;
    border-color: $white;
  }
}

.form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;

  .input-container {
    input {
      width: 100%;
      padding: 18px 32px;
      font-size: 14px;
      font-weight: 400;
      line-height: 1.2;
      color: $deep-grey;
      border: 1px solid transparent;
      border-radius: 35px;
      outline: none;
      transition: 100ms ease-in-out (border-color, box-shadow);

      &:focus {
        border-color: rgb(24 168 187);
        box-shadow: 0 0 0 3px rgba(24 168 187 / 25%);
      }
    }
  }

  .button {
    width: 100%;
    padding: 13px 32px;
  }

  ::placeholder {
    color: $medium-grey;
  }
}

.swiper-custom-scrollbar {
  height: 3px;
  background: $deep-grey;
  border-radius: 4px;

  @include mq-mobile {
    width: 250px;
  }

  @include mq-tablet-desktop {
    width: 344px;
  }

  & > .swiper-scrollbar-drag {
    position: relative;
    top: -1px;
    height: 4px;
    cursor: pointer;
    background: $white;
    border-radius: 4px;
  }
}
